@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg : #F4F2EE;
  --text-clr:black;
  --logo:#0A66C2;
}
*, ::after,::before{
margin: 0;
padding: 0;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --bg: black;
    --text-clr:white;
  }
} */
.logo {
  color:#0A66C2;
  font-size: 2.6rem;
}

 
body {
 background: var(--bg);
 color: var(--text-clr);
}


/* interactions animation */
.custom_animation {
box-shadow: 0px 1px 4px 0px rgb(88, 88, 88);
}



.custom_animation img:nth-child(1){
animation: popup .6s ease-out forwards;
}
.custom_animation img:nth-child(2){
  animation: popup .6s ease-out .1s forwards;
}
.custom_animation img:nth-child(3){
  animation: popup .6s ease-out .14s forwards;
}
.custom_animation img:nth-child(4){
  animation: popup .6s ease-out .17s forwards;
}
.custom_animation img:nth-child(5){
  animation: popup .6s ease-out forwards;
}
.custom_animation img:nth-child(6){
  animation: popup .6s ease-out forwards;
}
.custom_animation img {
  cursor: pointer;
transform: scale(1);
}
.custom_animation img:hover {
  transform: scale(1.5);
  transition: all .3s ease-in-out;
  }
@keyframes popup {
  0%{
    margin-top: 0;
    
  }
  25%{
    margin-top: -1rem;
  }
  50%{
    margin-top: 0;
  }
100%{
    margin-top: 0;
}
}